matroidbasedIGprover/matroid_C_Coq/DevC/bin/main
matroidbasedIGprover/matroid_C_Coq/DevC/obj/fprintthings.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/graph.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/main.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/maths_addon.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/parties.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/set.o
matroidbasedIGprover/matroid_C_Coq/DevC/obj/statement.o
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues3D/test.v
*.glob
*.aux
*.out
*.vo
*.vok
*.vos
*.v#
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappus_alt.stat.out
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappus_alt-1l.stat.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappus_alt-1l.stat.out
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/Pappus2DG/toto.v
matroidbasedIGprover/matroid_C_Coq/DevC/src/parties.c.withPappus
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/debug.log
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/.lia.cache
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/debug.log
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/ExemplesSimples4D/.lia.cache
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/Pappus2DG/toto.v
.lia.cache
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/basic_matroid_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/basic_rank_space_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/desargues4D_noel.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/desargues4D.v.bak
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/output_d4d_xconc.txt
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/preamble4D.v
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/preamble4D.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/exemple_pb_3_couches.stat
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/exemple_pb_3_couches.stat.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/exemple_pb.stat.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/basic_matroid_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/output_statement_D4D.txt
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues3D/desargues3D_couches_arbitraires.stat.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues3D/desargues3D_couches.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/desargues4D_with_preamble_corrected.v.tmp
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/simpleABC.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/simple.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/simple_test.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/exemple_pb_couches.v
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/preludeCoq/lemmas_automation_g.v
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/preludeCoq/basic_matroid_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/Pappus2DG/Pappus2DG.stat.bug
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/ExemplesSimples4D/lemmas_automation_g.v
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/ExemplesSimples4D/basic_matroid_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/ExemplesSimples4D/basic_rank_space_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/test_alt.stat
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/test_alt.stat.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/basic_rank_space_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/desargues4D.stat.local
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues4D/desargues4D.txt
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/desargues3D/desargues3D_xconc_tmp.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/preludeCoq/basic_rank_space_list.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/exemple_pb_couches.stat
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/ExemplesSimples4D/debug.log
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappusAlt1l.stat
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappusAlt1lGood.v
.gitignore
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappusAlt1l.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/DG2Pappus/dg2pappusAlt1lWithPreample.v
matroidbasedIGprover/matroid_C_Coq/DevC/exemples/tests/simple.stat
